@import url('https://fonts.googleapis.com/css2?family=Domine&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Source+Code+Pro&display=swap');


body {
    background: yellow;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.2em;
}

.container {
    margin: 0 auto;
    max-width:960px;
}

h1,
h2,
h3 {
    font-family: 'Noto Serif', serif;
}

header h1 {
    font-size: 1.8em;
    font-weight: normal;
}